@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en-us" ng-app="angularApp">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">

    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <style>
        html, body {
            font-size: 1.1em;
        }
    </style>

    <!-- load angular via CDN -->
    <script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
    <script src="~/App/ngController.js"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <h2>Probability Calculator</h2>
                </div>




            </div>
        </nav>
    </header>
    <div ng-controller="mainController">
        <form name="operation" ng-submit="calculation();">
            <div class="container">

                <div class="form-group">
                    <label>Please Enter Value A</label>
                    <input ng-model="valueA" type="number" min="0" max="1" step=".01" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Please Enter Value B</label>
                    <input type="number" ng-model="valueB" min="0" max="1" step=".01" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Select Calculation</label>
                    <select ng-model="selectedOpertion" class="form-control" ng-change="onChange();">
                        <option value="0">Combine With</option>
                        <option value="1">Either With</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg" ng-disabled="operation.$invalid" value="submit" />
                </div>
                <input class="form-control" type="number" value="{{result | number : 3}}" placeholder="Result" readonly>
                <h3>{{logfile}}</h3>



            </div>


        </form>
    </div>

</body>
</html>